.empDetail {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .empDetail td, .empDetail th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .empDetail tr:nth-child(even){background-color: #f0eaeade;}
  
  .empDetail tr:hover {background-color: #ddd;}
  
  .empDetail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(48, 38, 187);
    color: white;
  }